nav {
    background-color: #3C5B6F;
    display: flex;
    flex-direction: row;
     box-shadow: 1px -6px 30px 1px black;
     justify-content: space-between;
}

nav h1 {
    color: white;
    margin: 0;
    font-size: 30px;
    padding: 15px 20px;
}

h2 {
    margin-right: 20px;
    background-color: #DFD0B8;
    padding: 5px 20px;
    box-shadow: -3px 5px 3px 0px black;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
nav a {
    text-decoration: none;
    color: black;
}

